<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <div th:insert="navigation/userNav.html"></div>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <h3 class="display-5">Bill payment</h3>
            <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
            <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
        <form action="/bookFlight" method="post">
            <div class="form-group">
                <label for="exampleSelect1" class="form-label mt-4">Choose mode of payment</label>
            <select class="form-select" id="exampleSelect1" name="mode">
                <option>OnLine</option>
                <option>OffLine</option>
            </select>
            </div>
            <br/>
            <label for="date"></label>
                <input  type="date" id="date" name="date" >
            <br/><br/>
            <input  type="text"  name="id" th:value="${flight}" hidden/>
            <button type="submit" class="btn btn-info">Payment</button>
            <br/>
        </form>
        </div>
    </div>
</div>
</body>
</html>