<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
  <div th:insert="navigation/userNav.html"></div>
</head>
<body>
<div class="container-fluid mt-5">
  <div class="row mt-2">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h2 th:text="'Total Bill : ' + ${total} + ' /-'"></h2>
      <h1 class="display-5">Payment Successful</h1>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <a href="/user/home" class="btn btn-info" >Back To Pay</a>
    </div>
  </div>
</div>
</body>
</html>