<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles.css">
    <div th:insert="navigation/userNav.html"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="card" style="width:30rem;">
            <div class="card-body">
                <h2 class="card-title">
                    <div th:text="${price}"></div>

                </h2>
                <h1 class="card-text">Paid Successfully</h1>
            </div>
        </div>
        </tr>

    </div>
</div>
</body>

</html>