<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Explore World!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link active" href="/addHotels">ADD HOTELS</a>
        <a class="nav-link active" href="/addPlaces">ADD PLACES</a>
        <a class="nav-link active" href="/addFlights">ADD FLIGHTS</a>
        <a class="nav-link active" href="/addPackages">ADD PACKAGES</a>
        <a class="nav-link active" href="/">Logout</a>

      </div>
    </div>
  </div>
</nav>