<div th:insert="navigation/mainNav.html" xmlns="http://www.w3.org/1999/html"></div>

<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header class = "flex">
    <div class = "container">
        <div class = "header-title">
            <h1>Leave Your Footprints</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum maxime enim odit illum in molestias beatae doloremque, ratione optio.</p>
        </div>
    </div>
</header>
<!-- header -->

<!-- featured section -->
<section id = "featured" class = "py-4">
    <div class = "container">
        <div class = "title-wrap">
            <span class = "sm-title">know about some places before your travel</span>
            <h2 class = "lg-title">featured places</h2>
        </div>

        <div class = "featured-row">
            <div class = "featured-item my-2 shadow">
                <img src = "images/featured-reo-de-janeiro-brazil.jpg" alt = "featured place">
                <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Reo De Janeiro, Brazil
                            </span>
                    <div>
                        <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>

            <div class = "featured-item my-2 shadow">
                <img src = "images/featured-north-bondi-australia.jpg" alt = "featured place">
                <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                North Bondi, Australia
                            </span>
                    <div>
                        <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>

            <div class = "featured-item my-2 shadow">
                <img src = "images/featured-berlin-germany.jpg" alt = "featured place">
                <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Berlin, Germany
                            </span>
                    <div>
                        <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>

            <div class = "featured-item my-2 shadow">
                <img src = "images/featured-khwaeng-wat-arun-thailand.jpg" alt = "featured place">
                <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Khwaeng wat arun, thailand
                            </span>
                    <div>
                        <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>

            <div class = "featured-item my-2 shadow">
                <img src = "images/featured-rome-italy.jpg" alt = "featured place">
                <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Rome, Italy
                            </span>
                    <div>
                        <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>

            <div class = "featured-item my-2 shadow">
                <img src = "images/featured-fuvahmulah-maldives.jpg" alt = "featured place">
                <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                fuvahmulah, maldives
                            </span>
                    <div>
                        <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>