<div th:insert="navigation/mainNav.html"></div>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-4 mt-5">
            <div class="display-5">LOGIN PAGE</div>
            <div
                    class="alert alert-danger"
                    th:if="${error}"
                    th:text="${error}"
            ></div>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            aria-describedby="emailHelp"
                            placeholder="Enter email" required
                    />
                    <small id="emailHelp" class="form-text text-muted"
                    ></small
                    >
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Password" required
                    />
                </div>
                <br>
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
</body>
