<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tours and Travels</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<nav th:insert="navigation/adminNav.html"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-4">
                        <div class="display-5">ADD PLACES</div>
                        <p class="lead">Add Places Here.</p>
                        <hr class="my-4">
                        <div th:if="${success}" th:text="${success}" class="alert alert-success"></div>
                        <div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>

                        <form action="/addPlaces" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="pname">Place Name</label>
                                <input type="name" class="form-control" id="pname" name="pname"
                                       placeholder="Enter Name Of The Place"/>
                            </div>
                            <div class="form-group">
                                <label for="description">Place description</label>
                                <input type="name" class="form-control" id="description" name="description"
                                       placeholder="Enter description"/>
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" name="city"
                                       placeholder="Enter City "/>
                            </div>
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="state" name="state"
                                       placeholder="Enter State"/>
                            </div>
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" name="country"
                                       placeholder="Enter country"/>
                            </div>


                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Photo</label>
                                    <input type="file" class="custom-file-input" id="exampleFormControlFile1" name="photo">
                                </div>

                            <div class="text-center mt-2">
                                <button type="submit" class="btn btn-primary w-75">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

